# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite

# Model checkpoints (they seem to be large files)
**/checkpoint*.pt

# Wandb
wandb/

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# pytorch
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.xz
*.pth.tar.bz2
*.pth.tar.lzma

#numpy
*.npy
*.npz
*.npz.gz
*.npz.xz
*.npz.bz2
*.npz.lzma

# txt
*.txt
*.txt.gz
*.txt.xz
*.txt.bz2
*.txt.lzma
